/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ResultsCss {
  margin: 0 auto;
  text-align: left;
  margin: 30pх;
  list-style-type: none;
}

.tablemenu {
  margin: 0 auto;
  width: 450px;
}

hr {
  width: 100%;
  size: 1;
  color: #000000;
  margin-bottom: 15px;
}

.day {
  font-size: 20px;
  margin-top: 100px;
}

.item {
  width: 400px;
  margin: 10px 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background: url(./img/Component\ 1.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.header {
  width: 100%;
  padding: 20px 0px;

  mix-blend-mode: normal;

  left: 0;
  right: 0;
  vertical-align: text-top;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
}

.header_logo {
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-shadow: black;
  /*font-family: "Roboto", sans-serif;*/
  padding-left: 30px;
}

/*NAV*/
.nav {
  font-size: 24px;
  text-transform: uppercase;
  padding-right: 30px;
  /* font-family: "Roboto", sans-serif;*/
}

.nav_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: relative;
  transition: color 0.5s linear;
  text-shadow: rgb(216, 116, 59);
}

.nav_link_a {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  color: rgb(216, 116, 59);
  text-decoration: none;
  position: relative;
  transition: color 0.5s linear;
  text-shadow: rgb(216, 116, 59);
}

.nav_link:hover {
  color: rgb(216, 116, 59);
}

.nav_link:hover:after {
  display: block;
}

/*Button*/
.btn {
  background-color: #ffc300;
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}

.btn:hover {
  background-color: #fff;
  color: black;
  transition: background 0.1s linear, color 0.1s linear;
  text-shadow: rgb(218, 218, 218) 3px 3px 3px;
}

hr {
  size: 0;
  background-color: rgb(216, 116, 59);
  color: rgb(216, 116, 59);
}

.game_highlights {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.game_info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
